<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>stuff-to-do</title>

<!--CSS--> 
    <!-- Bootstrap --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome icons v4.2.0 -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Custom CSS-->
        <link rel="stylesheet" type="text/css" href="../../client/assets/css/style.css"> 
</head>

<body>
    
<header>
    <nav class="navbar navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
    <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-89fdce5084dbe77556cf99f7b22ae7e8-pin.png" width="30" height="30" alt="">stuff-to-do</a>
    <a class="navbar" href="#">Log In</a>
    </nav>
</header>


{{{ body }}}



{{!-- This is for the results page --}}
{{!-- <div id="results-content">
<div class="slide-pane">

</div>
</div>


<div id="map" style="overflow: hidden;"></div>





 --}}

    
</body>
</html>